<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS - Análisis de Datos</title>

    <link rel="stylesheet" type="text/css" href="/styles/basic.css">
</head>
<body>

    <h1>Ejercicio 2: C&aacutelculo de valores</h1>
    <p>Numero de muestras (valores distintos de missing):  {{num_muestras}}</p>
<p>Media del total de fechas en las que se ha cambiado la contraseña: {{media_fechas}}</p>
<p>Desviación estándar del total de fechas en las que se ha cambiado la contraseña: {{desviacion_fechas}}</p>
<p>Media estándar del total de IPs que se han detectado: {{media_ips}}</p>
<p>Desviación estándar del total de IPs que se han detectado: {{desviacion_ips}}</p>
<p>Media de emails recibidos de phishing en los que ha interectuado cualquier usuario: {{media}}</p>
<p>Desviación estándar de emails recibidos de phishing en los que ha interectuado cualquier usuario: {{desviacion_estandar}}</p>
<p>Valor mínimo de emails recibidos: {{minimo}}</p>
<p>Valor máximo de emails recibidos: {{maximo}}</p>
<p>Valor mínimo de emails de phishing en los que ha interactuado un administrador: {{minimo_admin}}</p>
<p>Valor máximo de emails de phishing en los que ha interactuado un administrador: {{maximo_admin}}</p>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>
