<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS - Análisis de Datos</title>

    <link rel="stylesheet" type="text/css" href="/styles/basic.css">
</head>
<body>

    <h1>Ejercicio 3: Datos agrupados</h1>
    <p>Grupo: {{grupo}}</p>
    <p>N&uacutemero de observacines: {{n_observaciones}}</p>
    <p>Número de valores ausentes (missing): {{num_missing}}</p>
    <p>Mediana: {{mediana}}</p>
    <p>Media: {{media}}</p>
    <p>Varianza: {{var}}</p>
    <p>Valor m&aacuteximo: {{maxi}}</p>
    <p>Valor m&iacutenimo: {{mini}}</p>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>
