<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS - Análisis de Datos</title>
</head>
<body>
    <h1>Análisis de Datos</h1>

    <h2>Ejercicio 1: Modelado de negocio</h2>
    <ul>
        <li><a href="/model">Modelado de negocio</a></li>
    </ul>
    <h2>Ejercicio 2: Cálculo de valores</h2>
    <ul>
        <li><a href="/ej2">Ejercicio 2</a></li>
    </ul>
    <h2>Ejercicio 3: Análisis de phishing</h2>
    <ul>
        <li><a href="/ej3">Ejercicio 3</a></li>
    </ul>
    <!--
    <h2>Ejercicio 4: Gráficos</h2>
    <ul>
        <li><a href="/media_tiempo_cambio_contraseña">Mostrar media de tiempo entre cambios de contraseña por tipo de usuario</a></li>
        <li><a href="/usuarios_criticos">Mostrar los 10 usuarios más críticos</a></li>
        <li><a href="/paginas_con_politicas_desactualizadas">Mostrar las 5 páginas web con más políticas desactualizadas</a></li>
        <li><a href="/cumplimiento_politicas_por_anio">Mostrar el cumplimiento de políticas de privacidad por año de creación</a></li>
    </ul>-->
    <h2>Usuarios críticos</h2>
    <form action="/top_usuarios_criticos" method="GET">
        <label for="x">Top X de usuarios críticos:</label>
        <input type="number" id="x" name="x" value="10" min="1" max="100">
        <p>Mostrar información de usuarios que:</p>
        <input type="radio" id="any" name="spam_percentage" value="any" checked>
        <label for="any">Cualquier porcentaje de spam</label><br>
        <input type="radio" id="more_than_50" name="spam_percentage" value="more_than_50">
        <label for="more_than_50">Han pulsado más del 50% de veces al spam</label><br>
        <input type="radio" id="less_than_50" name="spam_percentage" value="less_than_50">
        <label for="less_than_50">Han pulsado menos del 50% de veces al spam</label><br><br>
        <input type="submit" value="Mostrar">
    </form>

    <h2>Páginas web críticas</h2>
    <form action="/top_paginas_desactualizadas" method="get">
        <label for="x_valueWeb">Mostrar top de páginas web desactualizadas (especifica X):</label>
        <input type="number" id="x_valueWeb" name="xWeb" min="1" max="100">
        <button type="submit">Mostrar</button>
    </form>

</body>
</html>
