<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS - Análisis de Datos</title>

    <link rel="stylesheet" type="text/css" href="/styles/basic.css">
    <link rel="icon" href="/img/ej1UML.jpg">
</head>
<body>

    <h1>Modelado UML</h1>
    <!-- Mostrar el modelo como una imagen -->
    <img src="/img/ej1UML.jpg" alt="Modelo">
    <h1>Modelado BPMN</h1>
    <img src="/img/ej1BPMN.jpg" alt="Modelo">
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>
